# Terraform state
*.tfstate
*.tfstate.backup
*.tfvars # si tiene secretos
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local .terraform directories
.terraform/

# Crash logs
*.log